@import "mediaqueries.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

* {
  /* border: 0.2px yellow solid; */
}

header {
  height: 50px;
  background-color: #f72210;
}

.navphaseone {
  min-width: 350px;
}

.navphaseone .newsweeklogo svg {
  width: 132px;
  color: white;
}

.navphasethree .newsweeklogo svg {
  width: 395px;
  color: white;
}
.whiteribbon {
  height: 56px;
  border-bottom: 2px #f4f5f6 solid;
}

.subscribe svg {
  width: 8px;
  margin-left: 10px;
}

header,
.navphaseone > div {
  display: flex;
  align-items: center;
}

img {
  width: 24px;
}

.weather,
.location,
.date {
  font: 15px "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: white;
}

.location img {
  width: 6px;
  margin-left: 5px;
}

.signin,
.subscribe {
  font: 16px "Roboto Condensed", sans-serif;
  font-weight: bolder;
}
.signin {
  color: white;
}

.subscribe {
  color: #f72210;;
}

.fa-bars {
  font-size: 25px;
  color: #fb9a94;
}

.whiteribbon input {
  width: 74px;
  margin: 0;
  border: none;
  outline: none;
}

.whiteribbon a {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  color: black;
}

.whiteribbon a:hover {
  color: #f72210;
}

.whiteribbon nav ul .lisep {
  border: 1px #e6e6e6 solid;
}

.redcurve div:nth-child(1){
  height: 16px;
  background-color: #f72210;
}

.redcurve .whitecurve {
  background: linear-gradient(to top right, white, white 50%, #f72210 51%, #f72210);
  width: 12px;
}