* {
  border: 0.2px yellow solid;
}

@media (max-width: 417px) {
  .navphaseone .weather,
  .navphaseone .location {
    display: none;
  
  }
}

@media (max-width: 510px) {
  /* .navphaseone .signin,
  .navphaseone .subscribe {
    width: 50%;
  } */
  .navphaseone .signin,
  .navphaseone .subscribe {
  font: 8px "Roboto Condensed", sans-serif;
  font-weight: bolder;
}
}

@media (max-width: 640px) {
  .navphaseone .location {
    display: none;
  }
}

@media (max-width: 992px) {
  .navphasethree {
    display: none;
  }
}

@media (min-width: 993px) {
  body header {
    height: 95px;
  }
  .navphaseone .newsweeklogo,
  .navphaseone .hamburger,
  .navphaseone {
    display: none;
  }
  .navphaseone .subscribe {
    margin-right: 10px;
  }
}