* {
  /* border: 0.2px yellow solid; */
}

header {
  height: 50px;
  background-color: #f72210;
}

.newsweeklogo svg {
  width: 132px;
  color: white;
}

.subscribe svg {
  width: 8px;
  margin-left: 10px
}

header,
.navphaseone > div {
  display: flex;
  align-items: center;
}

img {
  width: 24px;
}

.weather,
.location {
  font: 15px "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: white;
}

.location img {
  width: 6px;
}

.signin,
.subscribe {
  font: 16px "Roboto Condensed", sans-serif;
  font-weight: bolder;
}
.signin {
  color: white;
}

.subscribe {
  color: #f72210;;
}

.fa-bars {
  font-size: 25px;
  color: #fb9a94;
}